{% extends "base.html" %}
{% block body %}

<div class="form-group row mt-4">
    <label for="pac-input">Visualize the risk in the area and study the risk factors.</label>
    <input type="text" class="form-control" id="pac-input" aria-describedby="emailHelp"
           placeholder="Enter location">
</div>

<div id="map" class="row" style="height: 60vh"></div>
<div class="row col-md-12 pt-3 btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-success active">
        <input type="checkbox" name="options" id="fire" autocomplete="off" checked> Fire
    </label>
    <label class="btn btn-outline-success active">
        <input type="checkbox" name="options" id="drought" autocomplete="off" checked> Drought
    </label>
</div>

<script>
  var map_dict = initMap("Switzerland", 7); // Sets googleMap variable.
  var map = map_dict['map'];
  var geocod = map_dict['geocoder'];

  $.getJSON("/simple_riskmap/heatmap?fire=0&drought=1", function(data){
      addEarthEngineOverlay(map, data["mapid"], data["token"], 1.0)
  });
  $('input[type=checkbox]').on('change', function() {
      var fire = Number($("#fire").is(":checked")) ? 1 : 0;
      var drought = Number($("#drought").is(":checked")) ? 1 : 0;
      console.log("Before");
      console.log(map.overlayMapTypes.getAt(0));
      map.overlayMapTypes.clear();
      $.getJSON("/simple_riskmap/heatmap?fire="+fire+"&"+"drought=" + drought,
          function(data){
              addEarthEngineOverlay(map, data["mapid"], data["token"], 1.0);
              console.log("After");
              console.log(map.overlayMapTypes.getAt(0));
      })

  });
</script>
{% endblock %}